<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.student_management.demo.mapper.mysql.grade.GradeMapper">
    <!--example-->
    <!--  插入成绩表项  -->
    <!--<insert id="insert" parameterType="com.student_management.demo.mapper.dataobject.grade.GradeDO">-->
    <!--    INSERT INTO grade (stu_id, stu_num, stu_name, gpa, status, note) VALUES (#{stu_id}, #{stu_num},# {stu_name}, #{gpa}, #{status}, #{note})-->
    <!--</insert>-->
    <!--  更新当前学生打分：更新grade表的score字段-->
    <insert id="updateByStuNum" parameterType="com.student_management.demo.mapper.dataobject.grade.GradeDO">
        UPDATE grade
        SET score = #{score}
        WHERE stuNum = #{stuNum}
    </insert>

    <!--  查询当前学生学号、姓名、GPA  -->
    <select id="getInfoByStuNum" parameterType="java.lang.String" resultType="com.student_management.demo.controller.grade.vo.GradeRespVO">
        SELECT stuNum, stuName, gpa
        FROM grade
        WHERE stuNum = #{stuNum}
    </select>

</mapper>