<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.student_management.demo.mapper.mysql.menu.MenuMapper">
    <select id="selectMenuByRoleId" parameterType="Long" resultType="com.student_management.demo.mapper.dataobject.menu.Menu">
        SELECT b.name, b.path, b.component FROM permission_role a JOIN permission b ON a.permissionId =b.id
        WHERE a.roleId = #{id} AND b.type = 1
    </select>
</mapper>