<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.student_management.demo.mapper.mysql.personal.PersonalMapper">
    <insert id="insert" parameterType="com.student_management.demo.mapper.dataobject.personal.PersonalDO">
        INSERT INTO personal(stuId,stuNum,stuName,school,society,self)
        VALUES (#{stuId},#{stuNum},#{stuName},#{school},#{society},#{self})
    </insert>
</mapper>