<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.student_management.demo.mapper.mysql.student.StudentMapper">
    <!--  插入学生项  -->
    <insert id="insertStudentBasicInfo" parameterType="com.student_management.demo.mapper.dataobject.student.StudentDO">
        INSERT INTO stu_info (num, name) VALUES (#{num},#{name})
    </insert>

    <select id="selectClassNameById" parameterType="Long" resultType="String">
        SELECT b.name
        FROM stu_info a JOIN class b ON a.classId = b.id
        WHERE a.id = #{id}
    </select>

    <select id="selectYearNameById" parameterType="Long" resultType="String">
        SELECT b.name
        FROM stu_info a JOIN effectiveyear b ON a.yearId = b.id
        WHERE a.id = #{id}
    </select>

    <select id="selectMajorNameById" parameterType="Long" resultType="String">
        SELECT b.name
        FROM stu_info a JOIN major b ON a.majorId = b.id
        WHERE a.id = #{id}
    </select>

    <update id="updateIsDel" parameterType="java.util.List" >
        UPDATE stu_info
        SET isDel = 1
        WHERE stu_info.num IN
        <foreach collection="list" item="item" index="index" open="(" close=")" separator=",">
            #{item}
        </foreach>
    </update>

    <update id="refreshUpdateTime" parameterType="java.util.List" >
        UPDATE stu_info
        SET updateTime = NOW()
        WHERE stu_info.num IN
        <foreach collection="list" item="item" index="index" open="(" close=")" separator=",">
            #{item}
        </foreach>
    </update>

</mapper>