<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.student_management.demo.mapper.mysql.summary.SummaryMapper">

    <update id="updateAllGradeAsNull" parameterType="java.util.List" >
        UPDATE summary
        SET gpa = null, vol = null, sci = null, ser = null, per = null, pra = null, status = 0
        WHERE stuNum IN
        <foreach collection="list" item="item" index="index" open="(" close=")" separator=",">
            #{item}
        </foreach>
    </update>

    <update id="refreshUpdateTime" parameterType="java.util.List" >
        UPDATE summary
        SET updateTime = NOW()
        WHERE stuNum IN
        <foreach collection="list" item="item" index="index" open="(" close=")" separator=",">
            #{item}
        </foreach>
    </update>
</mapper>