<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.student_management.demo.mapper.mysql.user.UserRolePerMapper">
    <select id="findPerRoleIdByUserId"  resultType="com.student_management.demo.mapper.dataobject.user.UserRolePermissionDO">
        SELECT a.userId, a.roleId, b.permissionId
        FROM user_role a JOIN permission_role b ON a.roleId = b.roleId
        WHERE a.userId = #{userId}
    </select>

</mapper>