<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.student_management.demo.mapper.mysql.volunteer.VolunteerMapper">
    <!--  评委端  -->
    <!--  根据学号查询当前学生在volunteer表中的isDel值  -->
    <select id="isDeleted" parameterType="java.lang.String" resultType="Integer">
        SELECT isDel
        FROM volunteer
        WHERE stuNum = #{stuNum}
    </select>

    <!--  根据学号查询当前学生在stu_info表中的isDel值  -->
    <select id="isDeletedInStuinfo" parameterType="java.lang.String" resultType="Integer">
        SELECT isDel
        FROM stu_info
        WHERE num = #{stuNum}
    </select>

    <!-- 上传时更新stu_info表的CreateUserId和updateUserId字段 -->
    <update id="createStuUpdateInfo" parameterType="com.student_management.demo.controller.volunteer.vo.Judge.VolunteerScoreReqVO">
        UPDATE stu_info
        <set>
            CreateUserId = #{id},
            updateUserId = #{id}
        </set>
        WHERE num = #{stuNum}
    </update>

    <!-- 上传时更新volunteer表（已存在）的updateUserId和updateTime字段 -->
    <update id="updateVolunteerUploadInfo" parameterType="com.student_management.demo.controller.volunteer.vo.Judge.VolunteerExcelUpdateVO">
        UPDATE volunteer
        <set>
            time = #{time},
            updateUserId = #{id},
            updateTime = NOW()
        </set>
        WHERE id = #{stuId}
    </update>

    <!--  根据学号查询当前学生志愿服务时长打分：查询summary表的vol字段  -->
    <select id="getVolScoreByStuNum" parameterType="java.lang.String" resultType="java.lang.Integer">
        SELECT vol
        FROM summary
        WHERE stuNum = #{stuNum}
    </select>

    <!--  根据学号删除学生-->
    <update id="deleteByStuNum" parameterType="java.lang.String">
        UPDATE volunteer
        SET isDel = 1
        WHERE stuNum = #{stuNum}
    </update>

    <!--  根据学号更新当前学生志愿服务时长打分：更新summary表的vol字段-->
    <update id="updateVolunteerScore" parameterType="com.student_management.demo.controller.volunteer.vo.Judge.VolunteerScoreReqVO">
        UPDATE summary
        SET vol = #{score}
        WHERE stuNum = #{stuNum}
    </update>

    <!-- 打分时同时根据评委职工号更新volunteer表的updateUserId和updateTime字段 -->
    <update id="updateVolunteerUpdateInfo" parameterType="com.student_management.demo.controller.volunteer.vo.Judge.VolunteerScoreReqVO">
        UPDATE volunteer
        <set>
            updateUserId = (SELECT id FROM staff_info WHERE num = #{judgeNum}),
            updateTime = NOW()
        </set>
        WHERE stuNum = #{stuNum}
    </update>

    <!-- 打分时同时根据评委职工号更新summary表的updateUserId和updateTime字段 -->
    <update id="updateSummaryUpdateInfo" parameterType="com.student_management.demo.controller.volunteer.vo.Judge.VolunteerScoreReqVO">
        UPDATE summary
        <set>
            updateUserId = (SELECT id FROM staff_info WHERE num = #{judgeNum}),
            updateTime = NOW()
        </set>
        WHERE stuNum = #{stuNum}
    </update>


    <!--  学生部分  -->
    <!--  根据学号查询当前学生学号、姓名、志愿服务时长  -->
    <select id="getInfoByStuNum" parameterType="java.lang.String" resultType="com.student_management.demo.controller.volunteer.vo.Student.StudentVolunteerRespVO">
        SELECT stuNum, stuName, time
        FROM volunteer
        WHERE stuNum = #{stuNum}
    </select>
</mapper>